<!-- CHANGING BELOW COMMENT WILL BREAK UNIT TESTING -->
<!-- Data Description -->
<!-- CHANGING ABOVE COMMENT WILL BREAK UNIT TESTING -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataset</title>

    <link rel="shortcut icon" href="../static/brain.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/style/css/bootstrap.css">
    <!-- Style CSS -->
	<link rel="stylesheet" href="../static/style/css/style.css">

<style>
h2 {
	font-weight: bold;
	font-size: 24px;
	font-family: sans-serif;
}

h3 {
    font-weight: normal;
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #707070;
}

p {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

</style>
</head>

<body>
<div class="wrapper">
    <!-- Navigation Bar -->
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/data">Data Description</a>
        <a href="/about">ML Model</a>
    </div>

    <h1 align="center"> Dataset Description </h1>

    <!-- Main Content-->
    <div class="content" align="center">
        <p>This dataset is taken from Kaggle: <a href="https://www.kaggle.com/datasets/mateuszbuda/lgg-mri-segmentation" style="color:black" >Brain MRI Images for Brain Tumor Detection</a>.
        The data consists of 3929 images, 1373 of which contain a tumor.
        </p>
    </div>

    <div align = "center" class="row">
        <div class="column">
            <img src="../static/img/classes.png" alt="Dataset classes" style="height: 300px; margin-left: 30px">
        </div>
    </div>

    <!-- Footer -->
    <div class = "footer">
	  	<p>Southern Federal University 2022 - Brain Tumor Detection<br>
	  	<a href="https://github.com/licksylick"  style="color:white">GitHub Page</a></p>
	</div>
</div>
</body>
</html>